# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules/
.pnp
.pnp.js


dist/
build/
.vite/
.eslintcache

.env
.env.local
.env.*.local
# Tu archivo de credenciales de Google Earth Engine (¡Crucial!)
*.json
!package.json
!package-lock.json

*.sqlite
*.sqlite3
*.db
# Ignorar la carpeta donde descargas los CSVs de VIIRS, OSM, etc.
data/


src/assets/*
!src/assets/.gitkeep

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db